.root-pane {
    -fx-background-size: cover;
    -fx-font-family: "FZMiaoWuS-GB";
}
.root-tools {
    -fx-background-color: rgba(253,255,223, 0.8);
}
.root-tools .toggle-button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(122,60,54);
}
.root-tools .toggle-button:selected {
    -fx-border-color: rgb(122, 60, 54);
    -fx-border-style: dashed;
    -fx-border-width: 1px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(three-pass-box, rgb(255,163,163), 8, 0, 0, 0);
}
.history-list {
    -fx-font-size: 15;
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-style: dashed;
    -fx-border-width: 0 1 0 1;
    -fx-border-color: linear-gradient(to bottom, rgba(0,0,0,0) 5%, rgb(115,91,78), rgba(0,0,0,0) 95%);
}
.history-list .list-cell {
    -fx-background-color: rgba(0,0,0,0);
}
.history-list .list-cell .cell-content {
    -fx-background-color: rgba(255,255,255,0.9);
    -fx-background-radius: 8;
    -fx-text-fill: #000;
}
.history-list .list-cell:selected .label {
    -fx-text-fill: #FFF;
}
.history-list .list-cell:selected .cell-content{
    -fx-background-color: rgb(120,106,123);
}
.history-list .list-cell .btn-cell {
    -fx-background-color:  rgba(120,106,123,0);
    -fx-text-fill:  rgba(120,106,123,1);
    -fx-background-radius: 999;
    -fx-effect: dropshadow(three-pass-box, rgba(120,106,123,1), 16, 0, 0, 0);
}
.history-list .list-cell:selected .btn-cell {
    -fx-text-fill: #FFF;
}
.history-list .list-cell .btn-cell:hover {
    -fx-text-fill: #FFF;
}
.scene {
    -fx-font-family: "FZMiaoWuS-GB";
    -fx-background-color: rgba(254,238,224,0.6);
}
.txt {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1.5 0;
    -fx-border-color: rgb(191, 134, 174);
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-font-size: 15;
}
.btn {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(0,0,0,0);
    -fx-border-style: dashed;
    -fx-border-width: 1px;
    -fx-text-fill: rgb(134, 63, 75);
}
.btn:hover {
    -fx-effect: dropshadow(three-pass-box,rgb(191, 134, 174), 12, 0, 0, 0);
    -fx-border-color: rgb(134, 63, 75);
    -fx-border-style: dashed;
    -fx-border-width: 1px;
    -fx-border-radius: 8;
}
.book-card {
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-font-size: 16;
}
.book-card .btn-card {
     -fx-background-color: rgba(0,0,0,0);
     -fx-border-color: rgb(120,106,123);
     -fx-text-fill: rgb(120,106,123);
     -fx-border-style: dashed;
     -fx-border-width: 1px;
     -fx-border-radius: 999;
 }
.book-card .btn-card:hover {
    -fx-background-color: rgb(120,106,123);
    -fx-border-color: rgba(0,0,0,0);
    -fx-text-fill: rgb(255,255,255);
    -fx-background-radius: 999;
    -fx-border-width: 1px;
}
.btn-txt {
    -fx-background-color:rgb(120,106,123) ;
    -fx-text-fill: #FFF;
    -fx-border-radius: 0;
    -fx-font-size: 13;
}
.scene-dlg {
    -fx-font-family: "FZMiaoWuS-GB";
    -fx-background-color: rgb(245,238,232);
}
.scene-dlg .label {
    -fx-font-size: 14;
}
.comb{
    -fx-background-color: rgba(255,255,255,0.7);
    -fx-prompt-text-fill: rgba(120,106,123, 0.6) ;
    -fx-text-fill: rgb(120,106,123) ;
    -fx-border-color: rgb(120,106,123);
    -fx-border-width: 0 0 2 0;
    -fx-font-size: 15;
}
.comb * .label{
    -fx-font-size: 15;
}
.comb > *{
    -fx-text-fill: rgb(120,106,123) ;
}
.comb .combo-box-popup,.comb .combo-box-popup .list-view{
    -fx-background-color: rgba(253,255,223,0.8);
}
.comb .list-cell{
    -fx-background-color: rgba(0,0,0,0);
    -fx-text-fill:rgb(120,106,123) ;
}
.comb .list-cell:hover{
    -fx-background-color: #FFFFFF;
}
.list-text {
    -fx-background-color: rgba(0,0,0,0);
}
.list-text .list-cell:selected {
    -fx-background-color:rgb(120,106,123) ;
    -fx-text-fill: #FFF;
    -fx-background-radius: 6;
}
.list-text .list-cell {
    -fx-font-size: 15;
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-text-fill: rgb(120,106,123);
    -fx-border-style: dashed;
    -fx-border-width: 0 0 0.6 0;
    -fx-border-color: rgba(120,106,123,0.4);
}
.config-sheet {
    -fx-background: rgba(255,255,255,0.2);
}
.config-sheet .label{
    -fx-font-size: 14;
}
.config-sheet .tool-bar {
    -fx-background-color: rgba(120,106,123,0.4);
}
.config-sheet .tool-bar .text-field {
    -fx-border-style: dashed;
    -fx-border-width: 0px;
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-color: rgba(255,255,255,0.8);
}
.config-panels .tab-header-background {
    -fx-background-color: rgba(255,255,255,0.4);
}
.config-panels .tab:selected{
    -fx-background-color: rgba(120,106,123,0.4);
}
.config-panels .tab:selected .tab-label {
    -fx-text-fill: #FFF;
}
.config-panels .tab{
    -fx-border-insets: 0;
    -fx-focus-color: rgba(0,0,0,0);
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-border-color: rgba(120,106,123,0.4);
    -fx-border-radius: 8 8 0 0;
    -fx-background-radius: 8 8 0 0;
    -fx-border-style: dashed;
    -fx-border-width: 1px;
    -fx-outline: none;
    -fx-font-size: 14;
}

.check .box{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color:rgb(120,106,123);
}
.check:selected .box .mark{
    fx-background-color: rgba(199,179,229,0.8);
}
.slider .thumb{
    -fx-background-color:rgb(253,255,223);
    -fx-effect:dropshadow(three-pass-box, rgba(120,106,123,1),10,0,0,0);
}
.slider .track {
    -fx-background-color:rgba(120,106,123,0.4);
    -fx-border-radius: 99;
    -fx-border-width: 0.4px;
    -fx-border-color:rgb(120,106,123);
}
.scroll-bar .thumb {
    -fx-background-color:rgba(120,106,123,0.6);
    -fx-effect:dropshadow(three-pass-box,rgba(120,106,123,1),10,0,0,0);
}
.scroll-bar {
    -fx-background-color:rgba(253,255,223,0);
}
.scroll-bar .track {
    -fx-background-color:rgba(255,255,255, 0.6);
    -fx-background-radius: 99;
}
.scroll-bar .decrement-arrow {
    -fx-background-color: rgba(79,155,106, 1);
}
.scroll-bar .increment-arrow{
    -fx-background-color: rgba(79,155,106, 1);
}
.dialog-pane {
    -fx-background-color: rgb(253,255,223);
    -fx-font-family: "FZMiaoWuS-GB";
    -fx-font-size: 16px;
}
.dialog-pane .button {
    -fx-background-radius: 0;
    -fx-background-color:rgb(120,106,123);
    -fx-text-fill: rgb(253,255,223);
    -fx-font-size: 14px;
}
.progress .track {
    -fx-background-color: rgba(120,106,123,0.2);
    -fx-border-radius: 4;
    -fx-border-width: 1px;
    -fx-border-color:rgb(120,106,123);
}
.progress .bar {
    -fx-background-color:rgba(79,155,106, 1);
}